version: 2

defaults: &defaults
  working_directory: ~/repo
  environment:
    JVM_OPTS: -Xmx3200m
    TERM: dumb
  docker:
    - image: circleci/openjdk:8-jdk
    - image: rabbitmq:3

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - restore_cache: # restore the saved cache after the first run or if `pom.xml` has changed
          key: circleci-ticktok-java-client-{{ checksum "pom.xml" }}

      - run: mvn -s settings.xml dependency:go-offline # gets the project dependencies

      - save_cache: # saves the project dependencies
          paths:
            - ~/.m2
          key: circleci-ticktok-java-client-{{ checksum "pom.xml" }}

  publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run: mvn -s settings.xml package
      - run:
          name: Destribute to jcneter
          command: mvn -s settings.xml deploy -Dbintray.user=$BINTRAY_USER -Dbintray.key=$BINTRAY_KEY

workflows:
  version: 2
  ticktok-maven:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
      - publish:
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

